Current User: <%= current_user.username || "NONE" %><br>
<%= link_to('Link to api/users', 'api/users', html_options = {}) %>

<div class="session-new__content hide">
  <%= render :partial => 'forms/signup_form', :locals => {:xyz => 'abc'} %>
</div>

<div class="session-new__content">
  <%= render :partial => 'forms/login_form', :locals => {:xyz => 'abc'} %>
</div>

<script type="text/javascript">
  $('.switch-to').click(function() {
    $('.session-new__content').toggleClass('hide')
  })
</script>
